<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClasseController" />
                <binding name="BasicHttpBinding_IMondeController" />
                <binding name="BasicHttpBinding_ICompteJoueurController" />
                <binding name="BasicHttpBinding_IHeroController" />
                <binding name="BasicHttpBinding_IMonstreController" />
                <binding name="BasicHttpBinding_IEffetItemController" />
                <binding name="BasicHttpBinding_IInventaireHeroController" />
                <binding name="BasicHttpBinding_IItemController" />
                <binding name="BasicHttpBinding_IObjectMondeController" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49588/ServiceHugoWorld.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClasseController"
                contract="HugoWorldServiceRef.IClasseController" name="BasicHttpBinding_IClasseController" />
            <endpoint address="http://localhost:49588/ServiceHugoWorld.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMondeController"
                contract="HugoWorldServiceRef.IMondeController" name="BasicHttpBinding_IMondeController" />
            <endpoint address="http://localhost:49588/ServiceHugoWorld.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompteJoueurController"
                contract="HugoWorldServiceRef.ICompteJoueurController" name="BasicHttpBinding_ICompteJoueurController" />
            <endpoint address="http://localhost:49588/ServiceHugoWorld.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHeroController"
                contract="HugoWorldServiceRef.IHeroController" name="BasicHttpBinding_IHeroController" />
            <endpoint address="http://localhost:49588/ServiceHugoWorld.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonstreController"
                contract="HugoWorldServiceRef.IMonstreController" name="BasicHttpBinding_IMonstreController" />
            <endpoint address="http://localhost:49588/ServiceHugoWorld.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEffetItemController"
                contract="HugoWorldServiceRef.IEffetItemController" name="BasicHttpBinding_IEffetItemController" />
            <endpoint address="http://localhost:49588/ServiceHugoWorld.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInventaireHeroController"
                contract="HugoWorldServiceRef.IInventaireHeroController" name="BasicHttpBinding_IInventaireHeroController" />
            <endpoint address="http://localhost:49588/ServiceHugoWorld.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IItemController"
                contract="HugoWorldServiceRef.IItemController" name="BasicHttpBinding_IItemController" />
            <endpoint address="http://localhost:49588/ServiceHugoWorld.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IObjectMondeController"
                contract="HugoWorldServiceRef.IObjectMondeController" name="BasicHttpBinding_IObjectMondeController" />
        </client>
    </system.serviceModel>
</configuration>
